.checkout {
    padding: 20px;
    max-width: 500px;
    margin: auto;
}

.checkout form {
    display: flex;
    flex-direction: column;
}

.checkout input {
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.checkout button {
    padding: 10px;
    background-color: #27ae60;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.checkout button:hover {
    background-color: #2ecc71;
}